<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CartMapper">
<delete id="cartDeleteAll" parameterType="list">
	delete from cart
	where num
	IN
	<foreach collection="list" item="item" open="(" separator="," close=")">
		#{item}
	</foreach>


</delete>


<delete id="cartDelte" parameterType="int">
	delete from cart where num= #{num}
</delete>

<update id="cartUpdate" parameterType="CartDTO">
	update cart set gamount= #{gAmount} where num= #{num}
</update>

<select id="carlist" parameterType="string" resultType="CartDTO">
	select NUM,  USERID,  GCODE,  GNAME,  GPRICE,  GSIZE, 
	 GCOLOR,  GAMOUNT,  GIMAGE from cart
	 where userid= #{userid}
</select>

<insert id="goodsCart" parameterType="CartDTO">
insert into cart (NUM,  USERID,  GCODE,  GNAME,  GPRICE,  GSIZE, 
 GCOLOR,  GAMOUNT,  GIMAGE)
values
( Cart_seq.NextVAl, #{userid}, #{gCode}, #{gName}, #{gPrice}, 
#{gSize}, #{gColor}, #{gAmount}, #{gImage} )
</insert>

</mapper>